@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 8px 16px;
    background-color: white;
}

.navbar .item-container{
    display : flex;
    justify-content: space-between;
}

.navbar .navbar--label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; 
    color: #666666;
    letter-spacing: 2px;
}
.navbar .profile{
    cursor: pointer;
}
.navbar .search-icon--disabled{
    opacity: 0.5 !important;
}