@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main-container{
    background-image: url("https://cdn.pixabay.com/photo/2024/01/08/15/54/defile-8495836_1280.jpg");
    background-size: cover;
    background-position: center;  
    z-index: 0; 
    display: flex;
    flex-direction: column;
    height : 100vh;
    width : 100vw;
    object-fit: cover;
}
.header--image{
    height : 200px;
    width : 200px;
}
.travel-blogs--container {
    display: flex;
    padding: 16px;
    padding: 20px 60px 20px 60px;
    justify-content: space-between;
}

.travel-blogs--right-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 90vh;
    overflow-y: auto;
    padding-bottom: 24px;
    position: relative;
}

.right-container--header{
    z-index : 1;
    position: sticky;
    top : 0;
    left : 0;
    display: flex;
}
.right-container--header-image{
    height : 140px;
    width : 140px;
}

.right-container--header-label{
    background-color: white;
    height: 50%;
    margin-top: 30px;
    margin-left : -25px;
    padding : 0 12px 0 12px;
    font-weight: 400;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow : 1px 1px 1px 1px grey;
}

.image-container {
  position: relative;
  width: 300px; 
  height: 300px; 
  overflow: hidden;
}

.travel-images{
    position: absolute;
}
.travel-image-1{
    
    height: 400px;
    width: 400px;
    left: 28%;
    top: 10%;
}

.travel-image-2{
    height: 500px;
    width: 500px;
    left: 44%;
}

.travel-image-3{
    height: 250px;
    width: 250px;
    left: 63%;
}

.travel-quote{
    position: absolute;
    left: 44%;
    top : 62%;
    color : white;
    font-weight: 400;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity : 0.8;
}
