@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.groupbox-container{
    display: flex;
    margin : 16px;
    gap : 16px;
}
.blog-card-carousel{
    overflow: visible !important;
}
.individual-item--card{
    flex : 0 0 auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f5f5f5;
    cursor: pointer;
} 
.explore-button {
    position: absolute !important;
    top : 100% !important;
    left : 50% !important;
    transform: translate(-50%,-50%) !important;
}
.image-container{
    position: relative;
}